
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;  
}
/* common used styles */
:root{
    --primary-color: #92681ad5;
    --secondary-color: #000000e9;
    --linear-gradient: (180deg, #92681ad5 0%, #000000e9 100%);
}

.pri-btn{
    font-size: 18px;
    padding: 10px 15px;
    background:rgba(146, 104, 26, 0.836);
    border-radius: 5px;
    border: 0;
    color: rgb(0, 0, 0);
    
}
.pri-btn:hover{
    background-color: aqua;
    cursor:grab;
}




/* navbar related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.gamer-logo{
    display: flex;
    align-items: center;
    
}
.pri-color{
    color: var(--primary-color);
}
.gamer-logo img{
    height: max-content;
    margin-right: 20px;
}
.gamer-logo h2{
    color: var(--secondary-color);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.menus{
    display: flex;
    gap: 36px; 
    align-items: center;
}
.menus li{
    list-style: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 20px;

}
.follow-icons{
    padding: 16px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.one{
    margin-right: 16px;
    margin-left: 24px;
    color: red;
}

/* banner related styles here */
.banner-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-content h2{
    color: var(--secondary-color);
    font-family: Work Sans;
    font-size: 48px; 
    font-weight: 600;
}
.banner-content h1{
    margin-bottom: 24px;
    margin-top: -40px;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #92681ad5 0%, #000000e9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content li{
    list-style: none; 
    display: flex;
    align-items: center;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    margin-bottom: 17px;
    font-weight: 500;
}
.banner-content li img{
    margin-right: 12px;
}
.banner-btnone{
    border-radius: 40px;
    padding: 15px 25px;
    margin-top: 40px;
}
.banner-btn{
    margin-left: 24px;
    background-color: aqua;
    border-radius: 40px;
    padding: 15px 25px;
}
.banner-btn:hover{
    background-color: var(--primary-color);
}

