
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;  
}
/* common used styles */
:root{
    --primary-color: #92681ad5;
    --secondary-color: #000000e9;
    --linear-gradient: (180deg, #92681ad5 0%, #000000e9 100%);
}

.pri-btn{
    font-size: 18px;
    padding: 10px 15px;
    background:rgba(146, 104, 26, 0.836);
    border-radius: 5px;
    border: 0;
    color: rgb(0, 0, 0);
    
}
.pri-btn:hover{
    background-color: aqua;
    cursor:grab;
}




/* navbar related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(250, 235, 215, 0.411);
    padding-bottom: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.gamer-logo{
    display: flex;
    align-items: center;
    
}
.pri-color{
    color: var(--primary-color);
}
.gamer-logo img{
    height: max-content;
    margin-right: 20px;
}
.gamer-logo h2{
    color: var(--secondary-color);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.menus{
    display: flex;
    gap: 36px; 
    align-items: center;
}
.menus li{
    list-style: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 20px;

}
.follow-icons{
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.one{
    font-size: 25px;
    margin-left: 24px;
    color: black;
}


                /* banner related styles here */
.banner-container{
    max-width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-content h2{
    color: var(--secondary-color);
    font-family: Work Sans;
    font-size: 48px; 
    font-weight: 600;
}
.banner-content h1{
    margin-bottom: 24px;
    margin-top: -40px;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #92681ad5 0%, #000000e9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content li{
    list-style: none; 
    display: flex;
    align-items: center;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    margin-bottom: 17px;
    font-weight: 500;
}
.banner-content li img{
    margin-right: 12px;
}
.banner-btnone{
    border-radius: 40px;
    padding: 15px 25px;
    margin-top: 40px;
}
.banner-btn{
    margin-left: 24px;
    background-color: aqua;
    border-radius: 40px;
    padding: 15px 25px;
}
.banner-btn:hover{
    background-color: var(--primary-color);
}

                    /* we are gamer related styles */
.we-gamer-container{
    max-width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    gap: 50px;
}
.we-gamer-img img{
    width: 100%;
}
.we-gamer-content{
    width: 500px;
    text-align: right;
}
.we-gamer-content h3{
    font-size: 45px;
    background: linear-gradient(180deg, #92681ad5 0%, #000000e9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we-gamer-content p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;  
    font-weight: 400;    
}
.we-gamer-content h4 small{
    color: #534C64;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;  
}
.we-gamer-content h4{
    color: #534C64;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}



                    /* online games section related styles */
.online-games-container{
    max-width: 90%;
    margin: 100px auto;

}
.online-games-container h2{
    color: var(--secondary-color);
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 800; 
    margin-bottom: 16px;  
}
.heading-para{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.cards-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cards-content p{
    width: 300px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.card-img img{
    width: 300px;
    height: 350px;
    /* border: 2px solid red; */
   
}
.card-img img:hover{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}
.card-img{
    position: relative;
}
.fa-regular{
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
   
}
.watch-now{
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: 60%;
    left: 30%;
    color:  white;
    /* transition: .5s ease;
     transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);     */
}
.watch-now:hover{
    font-size: 25px;
}

/* play games related styles */
.play-games-container{
    max-width: 90%;
    height: 700px;
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.play-games-img{
    position: relative;
}
.play-games-img img{
    width: 600px;
    height: 500px;
}
.play-games-img .cat{
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: -10%;
    left: 80%;
}
.play-games-content h2{
    color: var(--secondary-color);
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.play-para{
    width: 450px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    margin-top: 24px;
}

/* buttons icon related styles here */
.buttons-container{
    max-width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}
 
.button-content button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-family: Work Sans;
    font-size: 20px; 
    font-weight: 600; 
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    background: none;
}
.button-content button:hover{
    border: 1px solid var(--primary-color); 
    color: var(--primary-color);
    cursor: grab;
}
.button-content button img{
    height: 50px;
    margin-right: 20px;
}

/* footer related styles */

.footer{
    padding: 50px;
    height: 650px;
    background-color:rgba(250, 235, 215, 0.411);
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.footer-title img{
    height: max-content;
    margin-right: 20px;
}
.footer-title h2{
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.footer-menus{
    list-style: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer-menus li{    
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    margin-right: 60px;
}
.footer-icons{
    text-align: center;
}
.footer-icons span{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-right: 40px; 
    cursor: pointer;
}
.footer-cookie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    list-style: none;
}
.footer-cookie li{
    margin-right: 50px;
    color: rgba(0, 0, 0, 0.701);  
    font-family: Work Sans;
    font-size: 16px;  
    font-weight: 500;
}
.footer-copyright{
    color:  rgba(0, 0, 0, 0.705);
    text-align: center;
    margin-top: 15px;
}
 
