@media screen and (max-width: 576px) {
    nav, .menus, .cards-container{
        flex-direction: column;
    }
    .banner-container, .play-games-container{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 100%;
        margin: 20px auto;
    }
    
    .banner-content h1{
        font-size: 50px;
         
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-btn{
        margin-left: 14px;
         
    }
    .online-games-container h2{
        font-size: 30px;
    }
    .play-games-img img{
        width: 250px;
        height: 300px;
    }
    .play-games-img .cat{
        width: 100px;
        height: 150px;
    }
    .play-para{
        width: 300px;
        margin: auto;
        
    }
    .play-games-content{
        text-align: center;
    }
    .footer{
        padding: 7px;
    }
    .footer-menus{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin-top: 10px;
         margin-bottom: 14px;
    }
    .footer-menus li{
        margin:  10px;
        font-size: 12px;
    }
    .footer-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        margin-top: 10px;

    }
    .footer-icons span{
       margin: 10px;
       
    }
    .footer-cookie {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 15px;
        justify-items: center;
    }
    .footer-cookie li {
        margin: 10px;
        font-size: 12px;
    }
    .buttons-container{
        margin-top: 200px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .button-content button{
        font-size: 8px;
        padding: 5px;
    }
    .button-content button img{
        height: 20px;
        margin-right: 5px;
    }
    
    
}

/* for tablet screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        justify-content: space-between;
        padding: 0 10px;
    }
    .menus{
        gap: 15px;
    }
    .banner-container, .play-games-container{
        flex-direction: column-reverse;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    .footer-menus li{
        margin:  20px;
        font-size: 12px;
    }
    .footer-icons span{
        margin: 15px;
     }
     .footer-cookie li {
        margin: 10px;
        font-size: 12px;
    }
    .buttons-container{
        margin-top: 200px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .button-content button{
        font-size: 16px;
        padding: 5px 10px;
    }
    
    
}