@media screen and (max-width: 576px) {
    nav, .menus, .cards-container{
        flex-direction: column;
    }
    .banner-container, .play-games-container{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 100%;
        margin: 20px auto;
    }
    
    .banner-content h1{
        font-size: 50px;
         
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-btn{
        margin-left: 14px;
         
    }
    .online-games-container h2{
        font-size: 30px;
    }
    .play-games-img img{
        width: 250px;
        height: 300px;
    }
    .play-games-img .cat{
        width: 100px;
        height: 150px;
    }
    .play-para{
        width: 300px;
        margin: auto;
        
    }
    .play-games-content{
        text-align: center;
    }
    
    
}

/* for tablet screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        justify-content: space-between;
        padding: 0 10px;
    }
    .menus{
        gap: 15px;
    }
    .banner-container, .play-games-container{
        flex-direction: column-reverse;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    
    
}